body {
	margin: 0;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	overflow-y: hidden;
}
.bg{
	height: 80vh;
	width: 70vw;
	margin: 8.5% auto;
	background: url('../img/bg-01.png');
	background-size: cover;
	position: relative;
	overflow-x: hidden;

}
.surface{
	height: 500px;
	width: 600%;
	background: url('../img/surface-01.png');
	background-position: bottom;
	display: block;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-repeat: repeat-x;
	animation: moveR 10s linear infinite;

}
.car{
	position: absolute;
	bottom: 15%;
	left: 25%;
	animation: movingcar 1s linear infinite;

}
/* header*/
header{
	position: fixed;
	display: inline-block;
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 20;
}

li{
	display: inline-block;
	padding: 30px;
}
	

.nav-li::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #082F67; 
	transition: width .3s

} 
.nav-li:hover::after{
	width: 100%;
	transition: width 0.3s;
	
}
.navbar{
	display: inline-block;
	margin-left: 170px;
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-size: 24px;
	color: #082F67;
}


/*animation*/
@keyframes moveR{
	100%{ transform: translateX(-2950px); }

}
@keyframes movingcar{
	100%{
		transform: translateY(-1px;);	
	}
	50%{
		transform: translateY(2px);
	}
	0%{
		transform: translateY(-1px);
	}
} 
